@import url("https://fonts.googleapis.com/css?family=Khmer:400");

* {
    margin: 0;
    padding: 0;
    font-family: "Khmer", Helvetica;

    /*1967*/
}

body {
    position: absolute;
    left: 50%;
    translate: -50% 0;
    width: 2000px;
}



a {
    color: black;
    text-decoration: none;
}

h1 {
    color: white;
    font-size: 36px;
    font-weight: 100;
    height: 54px;
}


h2 {
    color: rgba(131, 234, 154, 1);
    font-size: 40px;
    padding-bottom: 2vh;
    font-weight: 100;
}

p {
    color: whitesmoke;
    font-size: 20px;
    padding: 1vh 0;
}

.Highlight {
    color: rgba(156, 216, 170, 1) !important;
}

.leaf {
    display: flex;
}

.leaf p {
    translate: -30px 0;

}

/*
This section is dedicated to the overal page design
*/


.page1 {
    background-image: url(./img_sensor_metrics/background.png), linear-gradient(rgb(235.14, 242.25, 153.43) 0%,
            rgba(17, 140, 27, 0.69) 30%);
    /*padding: 0 10%;*/
    height: 100vh;
    max-height: 1600px;
    background-repeat: no-repeat;
}

.page2,
.page4 {
    background-color: rgb(2, 37, 16);
    padding: 0 10%;
    height: 100vh;
    max-height: 1600px;

}

.page3,
.page5 {
    background-image: url(./img_sensor_metrics/background.png), linear-gradient(rgb(235.14, 242.25, 153.43) 0%,
            rgba(17, 140, 27, 0.69) 30%);
    padding: 0 10%;
    height: 100vh;
    max-height: 1600px;
    background-repeat: no-repeat;

}



.pages h2 {
    text-align: center;
}

.block {
    position: relative;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}


/* 43
This section is dedicated to navigation bar design
*/
nav .logo_image {
    position: fixed;
    float: left;
    z-index: 10;
}

nav .nav_options {
    position: fixed;
    background-color: rgba(24, 62, 32, 0.9843);
    padding: 14px 40px 19px 36px;
    border-radius: 20px;
    display: flex;
    gap: 2em;
    left: 50%;
    translate: -50% 0;
    z-index: 11;
    width: max-content;


}

nav .nav_options #Home {
    width: 276px;
}

nav .nav_options #AboutUs {
    width: 298px;
}

nav .nav_options #AboutSystem {
    width: 346px;
}

nav .nav_options #SensorMetrics {
    width: 380px;
}

nav .nav_options h1 {
    color: black;
    background-color: rgba(22, 168, 81, 1);

    padding: 0 10px;
    text-align: center;
    border-radius: 30px;
    font-size: 36px;
    font-weight: 100;
    height: 54px;
}

nav .selected_page h1 {
    font-weight: bold;
    background-color: rgba(78, 223, 111, 1);
}

nav a h1:hover {
    background-color: #006dfeb2;
    color: white;
}



/*
This section is dedicated to water droplit placement-hardcoding
*/
.logo_image img {
    margin-top: 10px;
    margin-left: 65%;
}






/*
This section is dedicated to the sensor data page content
*/





/*
This section is dedicated to page1 internal design
*/
.page1 .block {
    translate: -50% -70% !important;
}

.page1 .p1content {
    position: relative;
    background-color: rgba(2, 37, 16, 0.9);
    border-radius: 47px 47px 0 0;
    padding: 0 10vh;
    height: 80vh;
    max-height: 1280px;
    top: 20%;
    left: 50%;
    translate: -50% 0;
    width: 1400px;
}

.p1content h1 {
    position: relative;
    text-align: center;
    font-size: 48px !important;
    padding-top: 3vh;

}

.page1 .Sensor-Readings {
    position: relative;
    background-color: white;
    width: 1000px;
    height: 500px;
    top: 50%;
    left: 40%;
    translate: -50% -50%;
}





/*
This section is dedicated to page24 internal design
*/
.p24content {
    background-color: rgb(2, 37, 16);
    border-radius: 40px;
    padding: 0 10vh;
    position: relative;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    height: 100%;
    max-height: 1600px;
}

/*
This section is dedicated to page3 internal design
*/
.page3 .p3content {
    background-color: rgba(2, 37, 16, 0.9);
    border-radius: 0;
    padding: 0 10vh;
    position: relative;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    height: 100%;
    max-height: 1600px;
}




/*
This section is dedicated to page5 internal design
*/
.page5 .p5content {
    background-color: rgba(2, 37, 16, 0.9);
    border-radius: 0 0 47px 47px;
    padding: 0 10vh;
    position: relative;

    left: 50%;
    translate: -50% 0;
    height: 97%;
    max-height: 1600px;
}





/*
This section is dedicated to page scrolling
*/
html::-webkit-scrollbar {
    display: none;
}

.pages {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 100vh;

}


.page1,
.page2,
.page3,
.page4,
.page5 {
    scroll-snap-align: start;
}