@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Khmer:400");

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Khmer", Helvetica;
}
html, body {
  margin: 0px;
  height: 100%;
}

button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

.about-us-page{
  position: absolute;
  left: 50%;
  translate: -50% 0;
  width: 1985px;
}

 .overlap-wrapper {
  background-color: rgba(255, 255, 255, 1);
  background: linear-gradient(
    180deg,
    rgb(235.14, 242.25, 153.43) 0%,
    rgba(17, 140, 27, 0.69) 30%
  );
  width: 1967px;
  height: 1897px;
}

 .overlap {
  position: relative;
  height: 1897px;
}

 .vector {
  position: absolute;
  width: 1967px;
  height: 1816px;
  top: 81px;
  left: 0;
  object-fit: cover;
}

 .content-block {
  position: absolute;
  width: 1628px;
  height: 1692px;
  top: 205px;
  left: 181px;
}

 .team-flags {
  position: absolute;
  width: 1125px;
  height: 326px;
  top: 1552px;
  left: 444px;
}

 .text-wrapper {
  width: 256px;
  top: 0;
  left: 25px;
  color: #82ea9a;
  font-size: 32px;
  position: absolute;
  font-family: "Khmer", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

 .div {
  position: absolute;
  width: 267px;
  top: 0;
  left: 406px;
  font-family: "Khmer", Helvetica;
  font-weight: 400;
  color: #82ea9a;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

 .text-wrapper-2 {
  position: absolute;
  width: 273px;
  top: 0;
  left: 777px;
  font-family: "Khmer", Helvetica;
  font-weight: 400;
  color: #82ea9a;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

 .overlap-group {
  position: absolute;
  width: 1119px;
  height: 251px;
  top: 75px;
  left: 0;
  background-color: #006dfeb2;
  border-radius: 36px;
}

 .image {
  width: 378px;
  height: 213px;
  top: 19px;
  left: 725px;
  position: absolute;
  object-fit: cover;
}

 .body {
  position: absolute;
  width: 1524px;
  height: 718px;
  top: 870px;
  left: 229px;
}

 .overlap-2 {
  position: absolute;
  width: 1503px;
  height: 381px;
  top: 337px;
  left: 0;
}

 .leaf-1 {
  position: absolute;
  width: 88px;
  height: 56px;
  top: 0%;
  left: -3%;
}

 .leaf-2 {
  top: 22%;
  left: -3%;
  position: absolute;
  width: 88px;
  height: 56px;
}

 .leaf-3 {
  top: 43%;
  left: -3%;
  position: absolute;
  width: 88px;
  height: 56px;
}

 .leaf-4 {
  top: 70%;
  left: -3%;
  position: absolute;
  width: 88px;
  height: 56px;
}

 .leaf-5 {
  top: 0%;
  left: -4%;
  position: absolute;
  width: 88px;
  height: 56px;
}

 .leaf-6 {
  top: 34%;
  left: -4%;
  position: absolute;
  width: 88px;
  height: 56px;
}

 .leaf-7 {
  top: 66%;
  left: -4%;
  position: absolute;
  width: 88px;
  height: 56px;
}

 .the-project-can-be {
  position: absolute;
  width: 1496px;
  top: 0;
  left: 7px;
  font-family: "Khmer", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

 .hydro-team-focuses {
  width: 1132px;
  top: 127px;
  left: 70px;
  color: transparent;
  font-size: 20px;
  position: absolute;
  font-family: "Khmer", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

 .span {
  color: #9cd7a9;
}

 .text-wrapper-3 {
  color: #ffffff;
}

 .overlap-3 {
  position: absolute;
  width: 1496px;
  height: 254px;
  top: 76px;
  left: 18px;
}

 .this-project-ENGR {
  position: absolute;
  width: 1496px;
  top: 0;
  left: 0;
  font-family: "Khmer", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

 .text-wrapper-4 {
  top: 178px;
  left: 581px;
  position: absolute;
  font-family: "Khmer", Helvetica;
  font-weight: 400;
  color: #82e99a;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

 .text-wrapper-5 {
  top: 0;
  left: 540px;
  position: absolute;
  font-family: "Khmer", Helvetica;
  font-weight: 400;
  color: #82e99a;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

 .logo {
  position: absolute;
  width: 113px;
  height: 51px;
  top: 244px;
  left: 216px;
}

 .overlap-4 {
  position: absolute;
  width: 114px;
  height: 143px;
  top: -229px;
  left: -145px;
}

 .ellipse {
  position: absolute;
  width: 103px;
  height: 143px;
  top: 0;
  left: 3px;
}

 .hydroponix {
  position: absolute;
  width: 114px;
  height: 95px;
  top: 41px;
  left: 0;
  object-fit: cover;
}

 .rectangle {
  position: absolute;
  width: 27px;
  height: 50px;
  top: 81px;
  left: 8px;
}

 .ellipse-2 {
  position: absolute;
  width: 8px;
  height: 6px;
  top: 129px;
  left: 36px;
}

 .ellipse-3 {
  position: absolute;
  width: 12px;
  height: 49px;
  top: 14px;
  left: -2095px;
}

 .about-us {
  position: absolute;
  width: 1549px;
  height: 638px;
  top: 241px;
  left: 247px;
}

 .overlap-5 {
  position: absolute;
  width: 667px;
  height: 236px;
  top: 0;
  left: 470px;
}

 .image-wrapper {
  position: absolute;
  width: 184px;
  height: 111px;
  top: 126px;
  left: 483px;
  background-color: #006dfeb2;
  background-size: 100% 100%;
  
}

 #south-africa {
  width: 146px;
  height: 77px;
  top: 12%;
  left: 8%;
  position: absolute;
  object-fit: cover;
}

 .overlap-6 {
  position: absolute;
  width: 490px;
  height: 141px;
  top: 0;
  left: 0;
}

 .text-wrapper-6 {
  position: absolute;
  top: 73px;
  left: 0;
  font-family: "Khmer", Helvetica;
  font-weight: 400;
  color: #82e99a;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

 .text-wrapper-7 {
  position: absolute;
  top: 0;
  left: -5%;
  width: 600px;
  font-family: "Khmer", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

 .overlap-7 {
  position: absolute;
  width: 184px;
  height: 111px;
  top: 125px;
  left: 285px;
  border-radius: 32px;
}

.rectangle-1 {
  position: absolute;
  width: 174px;
  height: 101px;
  top: 57%;
  left: 68%;
  background-color: #006dfeb2;
  border-radius: 32px;
}

 .rectangle-2 {
  position: absolute;
  width: 174px;
  height: 101px;
  top: 4%;
  left: 3%;
  background-color: #006dfeb2;
  border-radius: 30px;
}

 .image-3 {
  width: 146px;
  height: 77px;
  top: 17px;
  left: 19px;
  position: absolute;
  object-fit: cover;
}

 .img-wrapper {
  position: absolute;
  width: 140px;
  height: 135px;
  top: 0%;
  left: 80%;
  background-color: #006dfeb2;
  border-radius: 30px;
}

 .img-wrapper-2 {
  position: absolute;
  width: 144px;
  height: 135px;
  top: 0%;
  left: 7%;
  background-color: #006dfeb2;
  border-radius: 30px;

}

 .image-4 {
  width: 116px;
  height: 115px;
  top: 11px;
  left: 13px;
  position: absolute;
  object-fit: cover;
}

 .image-5 {
  width: 117px;
  height: 115px;
  top: 11px;
  left: 14px;
  position: absolute;
  object-fit: cover;
}

 .overlap-9 {
  position: absolute;
  width: 1496px;
  height: 366px;
  top: 272px;
  left: 0;
}

 .both-penn-state-and {
  position: absolute;
  width: 1496px;
  top: 0;
  left: 0;
  font-family: "Khmer", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

 .interacting-with {
  position: absolute;
  width: 1477px;
  top: 112px;
  left: 60px;
  font-family: "Khmer", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

 .text-wrapper-8 {
  position: absolute;
  top: 183px;
  left: 1148px;
  font-family: "Khmer", Helvetica;
  font-weight: 400;
  color: #e78987;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

 .text-wrapper-9 {
  position: absolute;
  top: 183px;
  left: 98px;
  font-family: "Khmer", Helvetica;
  font-weight: 400;
  color: #b8effb;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

 .flag-image {
  position: absolute;
  width: 374px;
  height: 213px;
  top: 1646px;
  left: 778px;
  object-fit: cover;
}

 .whatsapp-image {
  position: absolute;
  width: 299px;
  height: 226px;
  top: 1640px;
  left: 460px;
  object-fit: cover;
}

nav .logo_image {
  position: fixed;
  left: 3%;
  top: 1%;
  z-index: 30;
}

nav .nav_options {
  position: fixed;
  background-color: rgba(24, 62, 32, 0.9843);
  font-family: "Khmer", Helvetica;
  font-weight: 400;
  padding: 14px 40px 19px 36px;
  border-radius: 20px;
  display: flex;
  gap: 2em;
  left: 50%;
  translate: -50% 0;
  z-index: 11;
  width: max-content;
}

nav .nav_options #Home {
  width: 276px;
}

nav .nav_options #AboutUs {
  width: 298px;
}

nav .nav_options #AboutSystem {
  width: 346px;
}

nav .nav_options #SensorHistory {
  width: 380px;
}

nav .nav_options h1 {
  color: black;
  background-color: rgba(22, 168, 81, 1);

  padding: 12px 10px;
  text-align: center;
  border-radius: 30px;
  font-size: 36px;
  font-weight: 100;
  height: 54px;
}

nav .selected_page h1 {
  font-weight: bold;
  background-color: rgba(78, 223, 111, 1);
}

nav a h1:hover {
  background-color: #006dfeb2;
  color: white;
}