@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Khmer:400");

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Khmer", Helvetica;
}

html,
body {
  margin: 0px;
  height: 100%;
}

button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}

a {
  text-decoration: none;
}

.about-us-page {
  position: absolute;
  left: 50%;
  translate: -50% 0;
  max-width: 2000px;
  width: 100%;
}

.overlap-wrapper {
  background-color: rgba(255, 255, 255, 1);
  background: linear-gradient(180deg,
      rgb(235.14, 242.25, 153.43) 0%,
      rgba(17, 140, 27, 0.69) 30%);
  max-width: 1967px;
  width: 100%;
  height: 1897px;
}

.h1 {
  font-family: "Khmer", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  left: 31%;
  width: 550px;
}

.h2 {
  font-family: "Khmer", Helvetica;
  font-weight: 400;
  color: #82e99a;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
}

.h3 {
  font-family: "Khmer", Helvetica;
  font-weight: 400;
  color: #82ea9a;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.normal-text {
  font-family: "Khmer", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.green-text {
  color: rgba(156, 216, 170, 1) !important;
  font-family: "Khmer", Helvetica;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

#background {
  position: absolute;
  max-width: 1967px;
  width: 100%;
  height: 1816px;
  top: 81px;
  left: 0;
  object-fit: cover;
}

.content-block {
  position: absolute;
  width: 1628px;
  height: 1692px;
  top: 205px;
  left: 50%;
  translate: -50%;
}

.about-us {
  position: absolute;
  width: 1549px;
  height: 638px;
  top: 241px;
  left: 247px;
}

#unis {
  position: absolute;
  left: 33%;
}

#team-flags {
  position: absolute;
  width: 1125px;
  height: 326px;
  top: 1552px;
  left: 444px;
}

#sa-block {
  position: absolute;
  width: 174px;
  height: 101px;
  top: 20%;
  left: 65%;
  background-color: #006dfeb2;
  border-radius: 32px;
}

#south-africa {
  width: 146px;
  height: 77px;
  top: 12%;
  left: 8%;
  position: absolute;
  object-fit: cover;
}

#usa-block {
  position: absolute;
  width: 174px;
  height: 101px;
  top: 20%;
  left: 20%;
  background-color: #006dfeb2;
  border-radius: 30px;
}

#america {
  width: 146px;
  height: 77px;
  top: 11px;
  left: 15px;
  position: absolute;
  object-fit: cover;
}

#ps-block {
  position: absolute;
  width: 144px;
  height: 135px;
  top: 0%;
  left: 7%;
  background-color: #006dfeb2;
  border-radius: 30px;

}

#ps-logo {
  width: 117px;
  height: 115px;
  top: 11px;
  left: 14px;
  position: absolute;
  object-fit: cover;
}

#ps {
  position: absolute;
  top: 183px;
  left: 98px;
  color: #b8effb;
}

#bc-block {
  position: absolute;
  width: 140px;
  height: 135px;
  top: 0%;
  left: 80%;
  background-color: #006dfeb2;
  border-radius: 30px;
}

#bc-logo {
  width: 116px;
  height: 115px;
  top: 11px;
  left: 13px;
  position: absolute;
  object-fit: cover;
}

#bc {
  position: absolute;
  top: 183px;
  left: 78%;
  color: #e78987;
}

#involved-universities {
  position: absolute;
  width: 1496px;
  height: 366px;
  top: 272px;
  left: 0;
}

#benefits {
  position: absolute;
  top: 112px;
  left: 60px;
}

#leaf-1 {
  position: absolute;
  top: 0%;
  left: -3%;
}

#leaf-2 {
  top: 22%;
  left: -3%;
  position: absolute;
}

#leaf-3 {
  top: 43%;
  left: -3%;
  position: absolute;
}

#leaf-4 {
  top: 70%;
  left: -3%;
  position: absolute;
}

.body {
  position: absolute;
  width: 1524px;
  height: 718px;
  top: 870px;
  left: 229px;
}

#project-expectations {
  position: absolute;
  width: 1500px;
  height: 254px;
  top: 76px;
  left: 18px;
}

#project-teams {
  position: absolute;
  width: 1503px;
  height: 381px;
  top: 40%;
  left: 1%;
}

#teams {
  position: absolute;
  top: -70px;
  left: 630px;
}

#teams-list {
  width: 1400px;
  top: 127px;
  left: 70px;
  color: transparent;
  font-size: 20px;
  position: absolute;
  font-family: "Khmer", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  color: white;
}

#leaf-5 {
  top: 0%;
  left: -4%;
  position: absolute;
}

#mobile-download {
  font-weight: 700;
  color: #82e99a;
}

#leaf-6 {
  top: 34%;
  left: -4%;
  position: absolute;
}

#leaf-7 {
  top: 66%;
  left: -4%;
  position: absolute;
}

#hydro-text {
  position: absolute;
  left: 1.5%;
}

#electro-text {
  position: absolute;
  left: 35%;
}

#photon-text {
  position: absolute;
  left: 70%;
}

#flag-block {
  position: absolute;
  width: 1200px;
  height: 251px;
  top: 85%;
  left: 19%;
  background-color: #006dfeb2;
  border-radius: 36px;
}

#hydro {
  position: absolute;
  width: 370px;
  height: 210px;
  top: 8%;
  left: 2%;
  object-fit: fill;
}

#electro {
  position: absolute;
  width: 370px;
  height: 210px;
  top: 8%;
  left: 34.5%;
  object-fit: cover;
}

#photon {
  width: 370px;
  height: 210px;
  top: 19px;
  left: 67%;
  position: absolute;
  object-fit: cover;
}

/* This section is dedicated to navigation bar design */

#logo-img {
  position: fixed;
  left: 3%;
  top: 1%;
  z-index: 11;
}


nav .nav_options {
  position: fixed;
  background-color: rgba(24, 62, 32, 0.9843);
  font-family: "Khmer", Helvetica;
  font-weight: 400;
  padding: 14px 40px 19px 36px;
  border-radius: 20px;
  display: flex;
  gap: 2em;
  left: 50%;
  translate: -50% 0;
  z-index: 11;
  width: max-content;
}

nav .nav_options #Home {
  width: 276px;
}

nav .nav_options #AboutUs {
  width: 298px;
}

nav .nav_options #AboutSystem {
  width: 346px;
}

nav .nav_options #SensorMetrics {
  width: 380px;
}

nav .nav_options h1 {
  color: black;
  background-color: rgba(22, 168, 81, 1);

  padding: 12px 10px;
  text-align: center;
  border-radius: 30px;
  font-size: 36px;
  font-weight: 100;
  height: 54px;
}

nav .selected_page h1 {
  font-weight: bold;
  background-color: rgba(78, 223, 111, 1);
}

nav a h1:hover {
  background-color: #006dfeb2;
  color: white;
}