.home-page {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home-page .overlap-wrapper {
  background-color: rgba(255, 255, 255, 1);
  background: linear-gradient(
    180deg,
    rgb(235.14, 242.25, 153.43) 0%,
    rgba(167.15, 230.61, 137.45, 0.69) 29.5%,
    rgba(55.52, 242.25, 130.21, 0) 58.5%
  );
  width: 1967px;
  height: 1897px;
}

.home-page .overlap {
  position: relative;
  height: 1897px;
}

.home-page .vector {
  position: absolute;
  width: 1967px;
  height: 1816px;
  top: 81px;
  left: 0;
  mix-blend-mode: lighten;
  object-fit: cover;
}

.home-page .content-block {
  position: absolute;
  width: 1628px;
  height: 1550px;
  top: 347px;
  left: 168px;
}

.home-page .content {
  position: absolute;
  width: 1577px;
  height: 777px;
  top: 362px;
  left: 200px;
}

.home-page .overlap-group {
  position: absolute;
  width: 1571px;
  height: 674px;
  top: 103px;
  left: 0;
}

.home-page .hydroponics-farming {
  position: absolute;
  width: 1554px;
  top: 0;
  left: 0;
  font-family: "Khmer", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .hydroponic-systems {
  position: absolute;
  width: 1508px;
  top: 151px;
  left: 63px;
  font-family: "Khmer", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .text-wrapper {
  color: #9cd7a9;
}

.home-page .span {
  color: #4edf6f;
}

.home-page .text-wrapper-2 {
  color: #ffffff;
}

.home-page .leaf {
  position: absolute;
  width: 88px;
  height: 56px;
  top: 151px;
  left: 3px;
}

.home-page .img {
  top: 219px;
  position: absolute;
  width: 88px;
  height: 56px;
  left: 3px;
}

.home-page .leaf-2 {
  top: 321px;
  position: absolute;
  width: 88px;
  height: 56px;
  left: 3px;
}

.home-page .div {
  position: absolute;
  top: 0;
  left: 353px;
  font-family: "Khmer", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .video-block {
  position: absolute;
  width: 1254px;
  height: 483px;
  top: 1221px;
  left: 356px;
}

.home-page .overlap-2 {
  position: absolute;
  width: 709px;
  height: 421px;
  top: 62px;
  left: 270px;
  background-color: #006dfeb2;
  border-radius: 36px;
}

.home-page .image {
  width: 674px;
  height: 386px;
  top: 19px;
  left: 18px;
  position: absolute;
  object-fit: cover;
}

.home-page .play {
  position: absolute;
  width: 180px;
  height: 169px;
  top: 127px;
  left: 261px;
}

.home-page .p {
  position: absolute;
  width: 1252px;
  top: 0;
  left: 0;
  font-family: "Khmer", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .hydroponic-imgs {
  position: absolute;
  width: 1430px;
  height: 242px;
  top: 938px;
  left: 263px;
  background-color: #006dfeb2;
  border-radius: 36px;
}

.home-page .image-2 {
  width: 347px;
  height: 223px;
  top: 13px;
  left: 11px;
  position: absolute;
  object-fit: cover;
}

.home-page .image-3 {
  width: 312px;
  height: 214px;
  top: 13px;
  left: 371px;
  position: absolute;
  object-fit: cover;
}

.home-page .image-4 {
  width: 334px;
  height: 215px;
  top: 14px;
  left: 700px;
  position: absolute;
  object-fit: cover;
}

.home-page .image-5 {
  width: 361px;
  height: 214px;
  top: 15px;
  left: 1051px;
  position: absolute;
  object-fit: cover;
}

.home-page .navigation-bar {
  position: absolute;
  width: 1946px;
  height: 112px;
  top: 0;
  left: 21px;
}

.home-page .overlap-3 {
  position: absolute;
  width: 1946px;
  height: 256px;
  top: 112px;
  left: 136px;
}

.home-page .tab-bar {
  position: absolute;
  width: 1946px;
  height: 112px;
  top: 144px;
  left: 0;
}

.home-page .HIDROPONIX-removebg {
  position: absolute;
  width: 760px;
  height: 244px;
  top: 0;
  left: 480px;
  object-fit: cover;
}

.home-page .logo {
  position: absolute;
  width: 113px;
  height: 51px;
  top: 132px;
  left: 59px;
}

.home-page .overlap-group-2 {
  position: absolute;
  width: 114px;
  height: 143px;
  top: -229px;
  left: -148px;
}

.home-page .ellipse {
  position: absolute;
  width: 103px;
  height: 143px;
  top: 0;
  left: 3px;
}

.home-page .hydroponix {
  position: absolute;
  width: 114px;
  height: 95px;
  top: 41px;
  left: 0;
  object-fit: cover;
}

.home-page .rectangle {
  position: absolute;
  width: 27px;
  height: 50px;
  top: 84px;
  left: 10px;
}

.home-page .ellipse-2 {
  position: absolute;
  width: 8px;
  height: 6px;
  top: 132px;
  left: 38px;
}

.home-page .ellipse-3 {
  position: absolute;
  width: 12px;
  height: 49px;
  top: 14px;
  left: -45px;
}

.home-page .overlap-4 {
  position: absolute;
  width: 1470px;
  height: 87px;
  top: 0;
  left: 248px;
  background-image: url(./img/btn-container.png);
  background-size: 100% 100%;
}

.home-page .overlap-5 {
  position: absolute;
  width: 380px;
  height: 56px;
  top: 11px;
  left: 1057px;
}

.home-page .sensor-btn {
  position: absolute;
  width: 380px;
  height: 54px;
  top: 2px;
  left: 0;
  background-color: #16a750;
  border-radius: 22px;
}

.home-page .sensor-history {
  position: absolute;
  width: 301px;
  top: 0;
  left: 39px;
  font-family: "Khmer", Helvetica;
  font-weight: 400;
  color: #092c15fd;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .overlap-6 {
  position: absolute;
  width: 346px;
  height: 67px;
  top: 13px;
  left: 677px;
}

.home-page .system-btn {
  position: absolute;
  width: 346px;
  height: 54px;
  top: 0;
  left: 0;
  background-color: #16a750;
  border-radius: 22px;
}

.home-page .the-system {
  position: absolute;
  width: 213px;
  top: 1px;
  left: 66px;
  font-family: "Khmer", Helvetica;
  font-weight: 400;
  color: #092c15fd;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .overlap-7 {
  position: absolute;
  width: 298px;
  height: 66px;
  top: 11px;
  left: 345px;
}

.home-page .about-us-btn {
  position: absolute;
  width: 298px;
  height: 54px;
  top: 2px;
  left: 0;
}

.home-page .about-us {
  position: absolute;
  width: 184px;
  top: 0;
  left: 57px;
  font-family: "Khmer", Helvetica;
  font-weight: 400;
  color: #092c15fd;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .overlap-8 {
  position: absolute;
  width: 276px;
  height: 62px;
  top: 12px;
  left: 35px;
}

.home-page .home-btn {
  position: absolute;
  width: 276px;
  height: 54px;
  top: 2px;
  left: 0;
}

.home-page .home {
  position: absolute;
  top: 0;
  left: 83px;
  -webkit-text-stroke: 1px #000000;
  font-family: "Khmer", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .rectangle-2 {
  position: absolute;
  width: 709px;
  height: 101px;
  top: 1762px;
  left: 626px;
}

.home-page .pdf-logo {
  position: absolute;
  width: 63px;
  height: 74px;
  top: 1776px;
  left: 1216px;
}

.home-page .text-wrapper-3 {
  position: absolute;
  top: 1789px;
  left: 648px;
  font-family: "Khmer", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .frame {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 260px;
  left: 1626px;
}
