@import url("https://fonts.googleapis.com/css?family=Khmer:400");
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Khmer", Helvetica;
}
html, body {
  margin: 0px;
  height: 100%;
}
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

#home-page {
  position: absolute;
  left: 50%;
  translate: -50% 0;
  width: 1985px;
}

.overlap-wrapper {
  background-color: rgba(255, 255, 255, 1);
  background: linear-gradient(
    180deg,
    rgb(235.14, 242.25, 153.43) 0%,
    rgba(17, 140, 27, 0.69) 30%
  );
  width: 1967px;
  height: 1897px;
}

 #background-img {
  position: absolute;
  width: 1967px;
  height: 1816px;
  top: 81px;
  left: 0;
}

 #content-block {
  position: relative;
  width: 1628px;
  height: 1550px;
  top: 347px;
  left: 168px;
  color: #183E20;
  border-radius: 2%;
}

 .content {
  position: absolute;
  width: 1577px;
  height: 777px;
  top: 362px;
  left: 200px;
}

 .overlap-group {
  position: absolute;
  width: 1571px;
  height: 674px;
  top: 103px;
  left: 0;
}

#hydroponix-logo {
  position: absolute;
  width: 760px;
  height: 244px;
  top: 0;
  left: 480px;
  object-fit: cover;
}

#navigation-bar {
  position: absolute;
  width: 1946px;
  height: 112px;
  top: 0;
  left: 21px;
}

 #overlap-3 {
  position: absolute;
  width: 1946px;
  height: 256px;
  top: 112px;
  left: 136px;
}

 #hydroponics-farming {
  position: absolute;
  width: 1554px;
  top: 0;
  left: 0;
  font-family: "Khmer", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

  #benefits {
  position: absolute;
  top: 151px;
  left: 63px;
}

 .green-text {
  color: rgba(156, 216, 170, 1) !important;
  font-family: "Khmer", Helvetica;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

 #leaf-1 {
  position: absolute;
  width: 88px;
  height: 56px;
  top: 0%;
  left: -3%;
}

 #leaf-2 {
  position: absolute;
  width: 88px;
  height: 56px;
  top: 26%;
  left: -3%;
}

 #leaf-3 {
  position: absolute;
  width: 88px;
  height: 56px;
  top: 62%;
  left: -3%;
}

 .h1 {
  position: relative;
  top: -10%;
  left: 24%;
  font-family: "Khmer", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 48px;
  margin-bottom: -30px;
}

.video-block {
  position: absolute;
  width: 1254px;
  height: 483px;
  top: 1221px;
  left: 356px;
}

 .overlap-2 {
  position: absolute;
  width: 699px;
  height: 430px;
  top: 62px;
  left: 270px;
  background-color: #006dfeb2;
  border-radius: 36px;
}

 .youtube-thumbnail {
  position: absolute;
  width: 665px;
  height: 400px;
  top: 3.5%;
  left: 2.5%;
  border-radius: 36px;
  border: 4px solid black;
}

 .image {
  width: 674px;
  height: 386px;
  top: 19px;
  left: 18px;
  position: absolute;
  object-fit: cover;
}

 .play {
  position: absolute;
  width: 180px;
  height: 169px;
  top: 127px;
  left: 261px;
}

 .normal-text {
  font-family: "Khmer", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

 .hydroponic-imgs {
  position: absolute;
  width: 1430px;
  height: 242px;
  top: 938px;
  left: 263px;
  background-color: #006dfeb2;
  border-radius: 36px;
}

 #image-1 {
  width: 347px;
  height: 223px;
  top: 13px;
  left: 11px;
  position: absolute;
  object-fit: cover;
}

 #image-2 {
  width: 312px;
  height: 214px;
  top: 13px;
  left: 371px;
  position: absolute;
  object-fit: cover;
}

 #image-3 {
  width: 334px;
  height: 215px;
  top: 14px;
  left: 700px;
  position: absolute;
  object-fit: cover;
}

 #image-4 {
  width: 361px;
  height: 214px;
  top: 15px;
  left: 1051px;
  position: absolute;
  object-fit: cover;
}



 .tab-bar {
  position: absolute;
  width: 1946px;
  height: 112px;
  top: 144px;
  left: 0;
}

 .rectangle-2 {
  position: absolute;
  width: 709px;
  height: 101px;
  top: 1762px;
  left: 626px;
}

 .pdf-logo {
  position: absolute;
  width: 63px;
  height: 74px;
  top: 1776px;
  left: 1216px;
}

 .text-wrapper-3 {
  position: absolute;
  top: 1789px;
  left: 648px;
  font-family: "Khmer", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

nav .logo_image {
  position: fixed;
  left: 3%;
  top: 1%;
  z-index: 30;
}

nav .nav_options {
  position: fixed;
  background-color: rgba(24, 62, 32, 0.9843);
  font-family: "Khmer", Helvetica;
  font-weight: 400;
  padding: 14px 40px 19px 36px;
  border-radius: 20px;
  display: flex;
  gap: 2em;
  left: 50%;
  translate: -50% 0;
  z-index: 11;
  width: max-content;
}

nav .nav_options #Home {
  width: 276px;
}

nav .nav_options #AboutUs {
  width: 298px;
}

nav .nav_options #AboutSystem {
  width: 346px;
}

nav .nav_options #SensorMetrics {
  width: 380px;
}

nav .nav_options h1 {
  color: black;
  background-color: rgba(22, 168, 81, 1);

  padding: 12px 10px;
  text-align: center;
  border-radius: 30px;
  font-size: 36px;
  font-weight: 100;
  height: 54px;
}

nav .selected_page h1 {
  font-weight: bold;
  background-color: rgba(78, 223, 111, 1);
}

nav a h1:hover {
  background-color: #006dfeb2;
  color: white;
}